
<h1>TinyApp</h1>
<% if(user) { %>
    <%= 'User: '%> <%= user.email %>
    <form action="/logout" method="POST">
        <button>Logout</button>
    </form>
<% } else{ %>
    <form action="/register" method="POST" >
        <a href="/register" title="Register">Register</a>::
        <a href="/login" title="Login">Login</a>
    </form>
<% } %>
