<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>TinyApp!</title>
</head>
<body>
    <h2>Please register below.</h2>
    <form method="POST" action="/register">
        <input type="email" name="email" placeholder="EMAIL"/>
        <input type="password" name="password"/>
        <button type="submit">Register</button>
    </form>
    
</body>
</html>